### Project Number: 0007

# **STAGE 4. DATA WRANGLING**

### Import Libraries

---

In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# Data Visualizations
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Import Data

---

In [2]:
data_path = data_path = r'D:/Data_Science_Project/1. Data Wrangling/[0007] Project 5 - Depression'

In [3]:
# Загрузка и проверка данных 
data = pd.read_feather(data_path + '/depressed_pre_prepared.file')

# Проверка результата 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1429 entries, 0 to 1428
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   survey_id              1429 non-null   int64
 1   ville_id               1429 non-null   int64
 2   sex                    1429 non-null   int64
 3   age                    1429 non-null   int64
 4   married                1429 non-null   int64
 5   number_children        1429 non-null   int64
 6   education_level        1429 non-null   int64
 7   total_members          1429 non-null   int64
 8   gained_asset           1429 non-null   int64
 9   durable_asset          1429 non-null   int64
 10  save_asset             1429 non-null   int64
 11  living_expenses        1429 non-null   int64
 12  other_expenses         1429 non-null   int64
 13  incoming_salary        1429 non-null   int64
 14  incoming_own_farm      1429 non-null   int64
 15  incoming_business      1429 non-null   int64
 16  incoming_no_business   1429 non-null   int64
 17  incoming_agricultural  1429 non-null   int64
 18  farm_expenses          1429 non-null   int64
 19  labor_primary          1429 non-null   int64
 20  lasting_investment     1429 non-null   int64
 21  no_lasting_investmen   1409 non-null   float64
 22  depressed              1429 non-null   int64
dtypes: float64(1), int64(22)
memory usage: 256.9 KB

## SECTION 4.1 CLEAN DATA

### _Addressing missing or invalid data_

---

In [4]:
def enomv_df(data):
    '''
    ОЦЕНКА КОЛИЧЕСТВА ПРОПУЩЕННЫХ ЗНАЧЕНИЙ В НАБОРЕ ДАННЫХ 
    
    ESTIMATING THE NUMBER OF MISSING VALUES IN THE DATA SET (enomv_df)
    '''
    # Колличество пропусков 
    print("Колличество пропусков:\n{}\n".format(data.isna().sum()) + '-' * 100+ '\n')
    # Колличество значений  
    print("Колличество значений:\n{}\n".format(data.count()) + '-' * 100+ '\n')
    # Описательные статистики 
    print("Описательные статистики:\n{}\n".format(data.describe().round(2)) + '-' * 100+ '\n')

In [5]:
# Оценим пропуски в наборе данных
enomv_df(data)

Колличество пропусков:
survey_id                 0
ville_id                  0
sex                       0
age                       0
married                   0
number_children           0
education_level           0
total_members             0
gained_asset              0
durable_asset             0
save_asset                0
living_expenses           0
other_expenses            0
incoming_salary           0
incoming_own_farm         0
incoming_business         0
incoming_no_business      0
incoming_agricultural     0
farm_expenses             0
labor_primary             0
lasting_investment        0
no_lasting_investmen     20
depressed                 0
dtype: int64
----------------------------------------------------------------------------------------------------

Колличество значений:
survey_id                1429
ville_id                 1429
sex                      1429
age                      1429
married                  1429
number_children          1429
education_level          1429
total_members            1429
gained_asset             1429
durable_asset            1429
save_asset               1429
living_expenses          1429
other_expenses           1429
incoming_salary          1429
incoming_own_farm        1429
incoming_business        1429
incoming_no_business     1429
incoming_agricultural    1429
farm_expenses            1429
labor_primary            1429
lasting_investment       1429
no_lasting_investmen     1409
depressed                1429
dtype: int64
----------------------------------------------------------------------------------------------------

Описательные статистики:
       survey_id  ville_id      sex      age  married  number_children  \
count    1429.00   1429.00  1429.00  1429.00  1429.00          1429.00
mean      715.00     76.29     0.92    34.78     0.77             2.88
std       412.66     66.44     0.27    13.99     0.42             1.87
min         1.00      1.00     0.00    17.00     0.00             0.00
25%       358.00     24.00     1.00    25.00     1.00             2.00
50%       715.00     57.00     1.00    30.00     1.00             3.00
75%      1072.00    105.00     1.00    42.00     1.00             4.00
max      1429.00    292.00     1.00    91.00     1.00            11.00

       education_level  total_members  gained_asset  durable_asset  ...  \
count          1429.00        1429.00       1429.00        1429.00  ...
mean              8.69           4.97   33634477.74    27172956.90  ...
std               2.92           1.79   20038537.36    18156721.59  ...
min               1.00           1.00     325112.00      162556.00  ...
25%               8.00           4.00   23269824.00    19298521.00  ...
50%               9.00           5.00   28912201.00    22861940.00  ...
75%              10.00           6.00   37172832.00    26569498.00  ...
max              19.00          12.00   99127548.00    99615601.00  ...

       incoming_salary  incoming_own_farm  incoming_business  \
count          1429.00            1429.00            1429.00
mean              0.18               0.25               0.11
std               0.38               0.43               0.31
min               0.00               0.00               0.00
25%               0.00               0.00               0.00
50%               0.00               0.00               0.00
75%               0.00               1.00               0.00
max               1.00               1.00               1.00

       incoming_no_business  incoming_agricultural  farm_expenses  \
count               1429.00                1429.00        1429.00
mean                   0.26            34510389.12    35491525.54
std                    0.44            20778461.80    21123715.46
min                    0.00              325112.00      271505.00
25%                    0.00            23222287.00    22799659.00
50%                    0.00            30028818.00    31363432.00
75%                    1.00            40038424.00    43485844.00
max                    1.00            99789095.00    99651194.00

       labor_primary  lasting_investment  no_lasting_investmen  depressed
count        1429.00             1429.00               1409.00    1429.00
mean            0.21         32992215.08           33603850.54       0.17
std             0.41         21216209.32           21602279.52       0.37
min             0.00            74292.00             126312.00       0.00
25%             0.00         20019113.00           20642033.00       0.00
50%             0.00         28411718.00           28292707.00       0.00
75%             0.00         39826862.00           41517625.00       0.00
max             1.00         99446667.00           99651194.00       1.00

[8 rows x 23 columns]
----------------------------------------------------------------------------------------------------

In [6]:
# Анализ уникальных значений
print("Значения:\n{}\n".format(data['no_lasting_investmen'].value_counts(dropna=False)) + '-' * 100+ '\n')

Значения:
28292707.0    425
NaN            20
3558971.0       3
60724945.0      3
11121784.0      3
             ...
29466837.0      1
58278149.0      1
12812296.0      1
5053739.0       1
58389373.0      1
Name: no_lasting_investmen, Length: 940, dtype: int64
----------------------------------------------------------------------------------------------------

In [7]:
 # Описательные статистики 
print("Описательные статистики:\n{}\n".format(data['no_lasting_investmen'].describe().round(2)) + '-' * 100+ '\n')

Описательные статистики:
count        1409.00
mean     33603850.54
std      21602279.52
min        126312.00
25%      20642033.00
50%      28292707.00
75%      41517625.00
max      99651194.00
Name: no_lasting_investmen, dtype: float64
----------------------------------------------------------------------------------------------------

In [8]:
# Заполнение пропущенных значений с помощью интерполяции
data['no_lasting_investmen'] = data['no_lasting_investmen'].interpolate( method="nearest")
# Оценка результата
data['no_lasting_investmen'].isnull().sum()

0

In [9]:
# Оценка результатов изменений
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1429 entries, 0 to 1428
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   survey_id              1429 non-null   int64
 1   ville_id               1429 non-null   int64
 2   sex                    1429 non-null   int64
 3   age                    1429 non-null   int64
 4   married                1429 non-null   int64
 5   number_children        1429 non-null   int64
 6   education_level        1429 non-null   int64
 7   total_members          1429 non-null   int64
 8   gained_asset           1429 non-null   int64
 9   durable_asset          1429 non-null   int64
 10  save_asset             1429 non-null   int64
 11  living_expenses        1429 non-null   int64
 12  other_expenses         1429 non-null   int64
 13  incoming_salary        1429 non-null   int64
 14  incoming_own_farm      1429 non-null   int64
 15  incoming_business      1429 non-null   int64
 16  incoming_no_business   1429 non-null   int64
 17  incoming_agricultural  1429 non-null   int64
 18  farm_expenses          1429 non-null   int64
 19  labor_primary          1429 non-null   int64
 20  lasting_investment     1429 non-null   int64
 21  no_lasting_investmen   1429 non-null   float64
 22  depressed              1429 non-null   int64
dtypes: float64(1), int64(22)
memory usage: 256.9 KB

## SECTION 4.2 CONCLUSIONS

Пропущенные значения заполненны методом интерполяции с помощью способа ближайших значений.

In [10]:
# Сохранение промежуточных результатов для дальнейших исследований 
pd.DataFrame.to_feather(data, 'depressed_wrangled.file')

In [11]:
# Сохраниение результатов итоговых результатов
data.to_csv('depressed_wrangled.csv', sep=',', index=True, encoding='utf-8')