# **STAGE 4. DATA WRANGLING**

### Import Libraries

---

In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# Data Visualizations
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Time series 
import datetime
import statsmodels.api as sm

### Import Data

---

In [2]:
data_path = 'D:/Data_Science_Project/7. Time series analysis/Project 2 - Analysis of power consumption/power_consumption_prepared.csv'

In [3]:
# Загрузим набор даннх для первичного визуального анализа 
power_consumption = pd.read_csv(data_path)

# Преобразование даты 
power_consumption['date'] = pd.to_datetime(power_consumption['date'])

# Cоздание мультииндекса 
power_consumption = power_consumption.set_index(['date','entering_substation'])

power_consumption.head(2)

,,1,2,3,4,5,6,7,8,9,10,...,17,18,19,20,21,22,23,24,consumption,max_consumption
date,entering_substation,,,,,,,,,,,,,,,,,,,,,
2016-01-01,Бада - Ввод Т1 27.5 кВ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2016-02-01,Бада - Ввод Т1 27.5 кВ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

## SECTION 4.1 CLEAN DATA

### _Overview dataset_

---

In [4]:
power_consumption.head()

,,1,2,3,4,5,6,7,8,9,10,...,17,18,19,20,21,22,23,24,consumption,max_consumption
date,entering_substation,,,,,,,,,,,,,,,,,,,,,
2016-01-01,Бада - Ввод Т1 27.5 кВ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2016-02-01,Бада - Ввод Т1 27.5 кВ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2016-03-01,Бада - Ввод Т1 27.5 кВ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2016-04-01,Бада - Ввод Т1 27.5 кВ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
2016-05-01,Бада - Ввод Т1 27.5 кВ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0

In [5]:
power_consumption.tail()

,,1,2,3,4,5,6,7,8,9,10,...,17,18,19,20,21,22,23,24,consumption,max_consumption
date,entering_substation,,,,,,,,,,,,,,,,,,,,,
2020-02-29,Новая - Ввод Т2 27.5 кВ,10023.0,8875.0,5788.0,7143.0,10006.0,6431.0,7214.0,8474.0,8109.0,7509.0,...,3263.0,7174.0,8147.0,7700.0,8316.0,7148.0,7863.0,8186.0,178143,10023
2020-01-03,Новая - Ввод Т2 27.5 кВ,10045.0,10424.0,8378.0,8424.0,8485.0,6569.0,7014.0,8826.0,7850.0,6899.0,...,8719.0,8393.0,6714.0,7790.0,7786.0,5947.0,7812.0,7894.0,195943,10424
2020-02-03,Новая - Ввод Т2 27.5 кВ,8136.0,6215.0,5141.0,4952.0,4855.0,4066.0,5370.0,7183.0,8532.0,7172.0,...,2138.0,1362.0,409.0,464.0,821.0,631.0,3337.0,4992.0,111815,8532
2020-03-03,Новая - Ввод Т2 27.5 кВ,4440.0,4224.0,1899.0,5546.0,7229.0,4607.0,4200.0,4468.0,5247.0,6987.0,...,9079.0,7066.0,6833.0,8067.0,8591.0,9082.0,8347.0,8402.0,168307,10160
2020-04-03,Новая - Ввод Т2 27.5 кВ,9832.0,9979.0,8107.0,8917.0,11284.0,10846.0,6127.0,7498.0,8490.0,8778.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118463,11284

### _Filtering to the desired subset of data_

---

In [6]:
# Удаление из набора подстанций с некачественными данными 
power_consumption_filter =  power_consumption.drop(index=['Карымская - Ввод Т1 27.5 кВ','Карымская - Ввод Т2 27.5 кВ', 'Могоча - Ввод Т1 27.5 кВ',
'Могоча - Ввод Т2 27.5 кВ'], level=1)

In [7]:
# Проверка результатов
power_consumption_filter.iloc[power_consumption_filter.index.isin(['Карымская - Ввод Т1 27.5 кВ','Карымская - Ввод Т2 27.5 кВ', 'Могоча - Ввод Т1 27.5 кВ',
'Могоча - Ввод Т2 27.5 кВ'], level=1)]

Empty DataFrame
Columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, consumption, max_consumption]
Index: []

[0 rows x 26 columns]

Сделаем выборку данных за переод наблюдений где имеются качественные данные для дальнейшего исследования диапазоне годов с 2017-01-01 по 2019-12-31

In [8]:
# Отбор необходимого подмножества данных 
power_consumption_filter = power_consumption_filter.sort_index(level=[0]).loc['2017-01-01':'2019-12-31']

In [9]:
# Проверка результатов
power_consumption_filter.head(2)

                                         1       2        3        4        5  \
date       entering_substation
2017-01-01 Бада - Ввод Т1 27.5 кВ   8610.0  7090.0   9647.0   9664.0   9820.0
           Бада - Ввод Т2 27.5 кВ  10620.0  9009.0  11410.0  11382.0  11481.0

                                         6        7       8       9       10  \
date       entering_substation
2017-01-01 Бада - Ввод Т1 27.5 кВ  10024.0  10497.0  7615.0  6317.0   9870.0
           Бада - Ввод Т2 27.5 кВ  11624.0  12050.0  9226.0  7956.0  11583.0

                                   ...      17       18      19      20  \
date       entering_substation     ...
2017-01-01 Бада - Ввод Т1 27.5 кВ  ...  7538.0   9009.0  7084.0  7166.0
           Бада - Ввод Т2 27.5 кВ  ...  9127.0  10772.0  9163.0  9278.0

                                        21       22       23       24  \
date       entering_substation
2017-01-01 Бада - Ввод Т1 27.5 кВ   8825.0   9114.0   8110.0  10706.0
           Бада - Ввод Т2 27.5 кВ  10906.0  11143.0  10038.0  12546.0

                                   consumption  max_consumption
date       entering_substation
2017-01-01 Бада - Ввод Т1 27.5 кВ       221760            13830
           Бада - Ввод Т2 27.5 кВ       264663            15636

[2 rows x 26 columns]

In [10]:
# Проверка результатов
power_consumption_filter.tail(2)

                                          1        2        3        4  \
date       entering_substation
2019-12-31 Новая - Ввод Т1 27.5 кВ   9581.0  10725.0  10531.0   7713.0
           Новая - Ввод Т2 27.5 кВ  12824.0  13746.0  13402.0  10633.0

                                         5        6        7       8        9  \
date       entering_substation
2019-12-31 Новая - Ввод Т1 27.5 кВ  6448.0   8987.0   8617.0  6431.0   8422.0
           Новая - Ввод Т2 27.5 кВ  9427.0  12019.0  11898.0  9968.0  12146.0

                                         10  ...       17       18      19  \
date       entering_substation               ...
2019-12-31 Новая - Ввод Т1 27.5 кВ   6774.0  ...   9680.0   7528.0  4972.0
           Новая - Ввод Т2 27.5 кВ  10692.0  ...  13611.0  11887.0  9856.0

                                         20       21       22       23  \
date       entering_substation
2019-12-31 Новая - Ввод Т1 27.5 кВ   5566.0   5685.0   9335.0   9187.0
           Новая - Ввод Т2 27.5 кВ  10474.0  10494.0  13838.0  13330.0

                                         24  consumption  max_consumption
date       entering_substation
2019-12-31 Новая - Ввод Т1 27.5 кВ   9277.0       197538            10725
           Новая - Ввод Т2 27.5 кВ  13088.0       288765            13915

[2 rows x 26 columns]

Оценим качество получившегося набора данных

In [11]:
# Функция коплексной оценки качества данных 
def verify_data_quality (evaluated_dataset):
    # Проверка типов данных
    print("Типы данных:\n{}\n".format(evaluated_dataset.dtypes) + '_' * 100+ '\n')
    # Проверка наличия значений NaN
    print("Пропущенные значения:\n{}\n".format(evaluated_dataset.isnull().sum().sum()) + '_' * 100+ '\n')
    # Количество значений, отличных от NaN
    print("Количество значений, отличных от NaN:\n{}\n".format(evaluated_dataset.count().sum()) + '_' * 100+ '\n')
    # Поиск дублирующих строк 
    print("Дублирующих строк:\n{}\n".format(evaluated_dataset.duplicated().sum()) + '_' * 100+ '\n')
    # Форма нарбора данных
    print("Форма нарбора данных:\n{}\n".format(evaluated_dataset.shape) + '_' * 100+ '\n')
    # Тип индекса набора данных
    print("Тип индекса набора данных:\n{}\n".format(evaluated_dataset.index) + '_' * 100+ '\n')

In [12]:
# Оценка качетва данных
verify_data_quality(power_consumption_filter)

Типы данных:
1                  float64
2                  float64
3                  float64
4                  float64
5                  float64
6                  float64
7                  float64
8                  float64
9                  float64
10                 float64
11                 float64
12                 float64
13                 float64
14                 float64
15                 float64
16                 float64
17                 float64
18                 float64
19                 float64
20                 float64
21                 float64
22                 float64
23                 float64
24                 float64
consumption          int64
max_consumption      int64
dtype: object
____________________________________________________________________________________________________

Пропущенные значения:
0
____________________________________________________________________________________________________

Количество значений, отличных от NaN:
483990
____________________________________________________________________________________________________

Дублирующих строк:
102
____________________________________________________________________________________________________

Форма нарбора данных:
(18615, 26)
____________________________________________________________________________________________________

Тип индекса набора данных:
MultiIndex([('2017-01-01',      'Бада - Ввод Т1 27.5 кВ'),
            ('2017-01-01',      'Бада - Ввод Т2 27.5 кВ'),
            ('2017-01-01', 'Белогорск - Ввод Т1 27.5 кВ'),
            ('2017-01-01', 'Белогорск - Ввод Т2 27.5 кВ'),
            ('2017-01-01',   'Бушулей - Ввод Т1 27.5 кВ'),
            ('2017-01-01',   'Бушулей - Ввод Т2 27.5 кВ'),
            ('2017-01-01',   'Завитая - Ввод Т1 27.5 кВ'),
            ('2017-01-01',   'Завитая - Ввод Т2 27.5 кВ'),
            ('2017-01-01',    'Зилово - Ввод Т1 27.5 кВ'),
            ('2017-01-01',    'Зилово - Ввод Т3 27.5 кВ'),
            ...
            ('2019-12-31',   'Завитая - Ввод Т2 27.5 кВ'),
            ('2019-12-31',    'Зилово - Ввод Т1 27.5 кВ'),
            ('2019-12-31',    'Зилово - Ввод Т3 27.5 кВ'),
            ('2019-12-31', 'Карымская - Ввод Т6 27.5 кВ'),
            ('2019-12-31', 'Магдагачи - Ввод Т1 27.5 кВ'),
            ('2019-12-31', 'Магдагачи - Ввод Т2 27.5 кВ'),
            ('2019-12-31',    'Могзон - Ввод Т1 27.5 кВ'),
            ('2019-12-31',    'Могзон - Ввод Т2 27.5 кВ'),
            ('2019-12-31',     'Новая - Ввод Т1 27.5 кВ'),
            ('2019-12-31',     'Новая - Ввод Т2 27.5 кВ')],
           names=['date', 'entering_substation'], length=18615)
____________________________________________________________________________________________________

### _Addressing missing or invalid data_

---

In [13]:
# Оценка наличия пропущенных значений
power_consumption_filter.isnull().sum()

1                  0
2                  0
3                  0
4                  0
5                  0
6                  0
7                  0
8                  0
9                  0
10                 0
11                 0
12                 0
13                 0
14                 0
15                 0
16                 0
17                 0
18                 0
19                 0
20                 0
21                 0
22                 0
23                 0
24                 0
consumption        0
max_consumption    0
dtype: int64

### _Deduplicating data_

---

In [14]:
# Оценка колличества дублирующих значений
print("Колличество дублирующих значений:\n{}".format(power_consumption_filter.duplicated().sum()))

Колличество дублирующих значений:
102

In [15]:
# Удаление дублирующих значений 
power_consumption_filter = power_consumption_filter.drop_duplicates()

# Проверка результата 
print("Колличество дублирующих значений:\n{}".format(power_consumption_filter.duplicated().sum()))

Колличество дублирующих значений:
0

### _Grouping Datasets_

---

Подготовим данные для дальнейшего анализа сгруппировав их в отдельные пременные после выполения очистки

In [16]:
# Бада - Ввод Т1 27.5 кВ
bada_entering_t1 = power_consumption_filter.xs('Бада - Ввод Т1 27.5 кВ', level=1)['consumption']

# Бада - Ввод Т2 27.5 кВ
bada_entering_t2 = power_consumption_filter.xs('Бада - Ввод Т2 27.5 кВ', level=1)['consumption']

# Белогорск - Ввод Т1 27.5 кВ
belogorsk_entering_t1 = power_consumption_filter.xs('Белогорск - Ввод Т1 27.5 кВ', level=1)['consumption']

# Белогорск - Ввод Т2 27.5 кВ
belogorsk_entering_t2 = power_consumption_filter.xs('Белогорск - Ввод Т2 27.5 кВ', level=1)['consumption']

# Бушулей - Ввод Т1 27.5 кВ
bushuley_entering_t1 = power_consumption_filter.xs('Бушулей - Ввод Т1 27.5 кВ', level=1)['consumption']

# Бушулей - Ввод Т2 27.5 кВ
bushuley_entering_t2 = power_consumption_filter.xs('Бушулей - Ввод Т2 27.5 кВ', level=1)['consumption']

# Завитая - Ввод Т1 27.5 кВ
zavitaya_entering_t1 = power_consumption_filter.xs('Завитая - Ввод Т1 27.5 кВ', level=1)['consumption']

# Завитая - Ввод Т2 27.5 кВ
zavitaya_entering_t2 = power_consumption_filter.xs('Завитая - Ввод Т2 27.5 кВ', level=1)['consumption']

# Зилово - Ввод Т1 27.5 кВ
zilovo_entering_t1 = power_consumption_filter.xs('Зилово - Ввод Т1 27.5 кВ', level=1)['consumption']

# Зилово - Ввод Т3 27.5 кВ
zilovo_entering_t3 = power_consumption_filter.xs('Зилово - Ввод Т3 27.5 кВ', level=1)['consumption']

# Карымская - Ввод Т6 27.5 кВ
karymskaya_entering_t6 = power_consumption_filter.xs('Карымская - Ввод Т6 27.5 кВ', level=1)['consumption']

# Магдагачи - Ввод Т1 27.5 кВ
magdagachi_entering_t1 = power_consumption_filter.xs('Магдагачи - Ввод Т1 27.5 кВ', level=1)['consumption']

# Магдагачи - Ввод Т2 27.5 кВ
magdagachi_entering_t2 = power_consumption_filter.xs('Магдагачи - Ввод Т2 27.5 кВ', level=1)['consumption']

# Могзон - Ввод Т1 27.5 кВ
mogzon_entering_t1 = power_consumption_filter.xs('Могзон - Ввод Т1 27.5 кВ', level=1)['consumption']

# Могзон - Ввод Т2 27.5 кВ
mogzon_entering_t2 = power_consumption_filter.xs('Могзон - Ввод Т2 27.5 кВ', level=1)['consumption']

# Новая - Ввод Т1 27.5 кВ
novaya_entering_t1 = power_consumption_filter.xs('Новая - Ввод Т1 27.5 кВ', level=1)['consumption']

# Новая - Ввод Т2 27.5 кВ
novaya_entering_t2 = power_consumption_filter.xs('Новая - Ввод Т2 27.5 кВ', level=1)['consumption']

## SECTION 4.4 CONCLUSIONS

In [17]:
power_consumption_filter.to_csv('power_consumption_filter.csv', sep=',', index=True, encoding='utf-8')