#### Project Type: Data Wrangling
### Project Number: 0006
## Project Title: Bot Detection

---

Источник данных: https://www.kaggle.com/remosin/bot-detection?select=ibm_data.csv


# **STAGE 1. PROBLEM DEFINITION**


### Project Objectives

---

1. Развитие навыка очистки и подготовки данных для проведения дальнейших исследований 
2. Дааные после проекта должны быть более "высокого" качества, чем до. 
3. Очередной проект в портфолио 
4. Удавольствие от работы с данными

### Success criteria

---

1. Отсувие пропусков 
2. Отсувие дублирующих значений 
3. Данные должны быть приведены к форме принятой в анализе 
4. "Чистые" данные

### Task type

---

Data Wrangling

    
# **STAGE 2. PRELIMINARY DATA WRANGLING**

### Import Libraries

---

In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# Data Visualizations
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Import Data

---

In [2]:
# Обобщенный путь к данным 
data_path = r'D:/Data_Science_Project/1. Data Wrangling/[0006] Project 4 - Bot Detection'

## SECTION 2.1.  DATA UNDERSTANDING

### _Collect initial data_

---

In [3]:
# Загрузка набора данных 
data =  pd.read_csv(data_path + '/ibm_data.csv')
data.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,4
ctry_name,United States,Japan,United States,Brazil,France
intgrtd_mngmt_name,United States,Japan,United States,Brazil,France
intgrtd_operating_team_name,North America,Japan,North America,Latin America,Europe
city,SLIDELL,TOKYO,ELK GROVE,SAO FRANCISCO DE GOIAS,BEZONS
st,LOUISIANA,TOKYO,CALIFORNIA,GOIAS,VAL-D'OISE
sec_lvl_domn,CHARTER.COM,MOPERA.NET,COMCASTBUSINESS.NET,VIVOZAP.COM.BR,PROXAD.NET
device_type,MOBILEPHONE,TABLET,MOBILEPHONE,MOBILEPHONE,MOBILEPHONE
operating_sys,IOS_12.1.4,ANDROID_6.0,IOS_12.1.2,ANDROID_6.0,ANDROID_9
ip_addr,287e8e9aeedb50e963906f10cca7ca26ae830154e69220...,d7746df5cc2de7f79584d57c2c082b9acc7697602021a1...,8540464f5f376c7a160d63632f8cbedc96c61158daf9ae...,cb9ffa7be250fc62426a431a4f08bc0c8222f63514ba39...,7ce278be1b02a0253cc0219fa9ceddfe8e91846be343a4...
user_agent,MOZILLA/5.0 (IPHONE; CPU IPHONE OS 12_1_4 LIKE...,MOZILLA/5.0 (LINUX; ANDROID 6.0; D-01J BUILD/H...,MOZILLA/5.0 (IPHONE; CPU IPHONE OS 12_1_2 LIKE...,MOZILLA/5.0 (LINUX; ANDROID 6.0; PT-BR; 5010E ...,MOZILLA/5.0 (LINUX; ANDROID 9; SM-G965F BUILD/...
VISIT,1,1,1,1,1
ENGD_VISIT,0,0,0,0,0
VIEWS,1,1,1,1,1
page_url,www.ibm.com/watson/campaign,www.ibm.com/privacy/us/en,www.ibm.com/account/reg/us-en/signup?formid=ur...,www.ibm.com/analytics/br/pt/business-intelligence,www.ibm.com/watson/fr-fr
wk,11,11,11,11,11
mth,3,3,3,3,3
yr,2019,2019,2019,2019,2019
page_vw_ts,2019-06-04 05:05:18.023100,2019-06-04 05:07:11.014300,2019-06-04 05:08:46.081900,2019-06-04 05:07:22.033300,2019-06-04 05:05:27.027700

In [4]:
# Общая оценка и информация о наборе данных
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048573 entries, 0 to 1048572
Data columns (total 19 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Unnamed: 0                   1048573 non-null  int64
 1   ctry_name                    1048573 non-null  object
 2   intgrtd_mngmt_name           1048573 non-null  object
 3   intgrtd_operating_team_name  1048573 non-null  object
 4   city                         1001987 non-null  object
 5   st                           1003128 non-null  object
 6   sec_lvl_domn                 729116 non-null   object
 7   device_type                  206532 non-null   object
 8   operating_sys                1046753 non-null  object
 9   ip_addr                      1048573 non-null  object
 10  user_agent                   1048567 non-null  object
 11  VISIT                        1048573 non-null  int64
 12  ENGD_VISIT                   1048573 non-null  int64
 13  VIEWS                        1048573 non-null  int64
 14  page_url                     1048572 non-null  object
 15  wk                           1048573 non-null  int64
 16  mth                          1048573 non-null  int64
 17  yr                           1048573 non-null  int64
 18  page_vw_ts                   1045830 non-null  object
dtypes: int64(7), object(12)
memory usage: 152.0+ MB

In [5]:
# Форма набора данных
print("Форма исходного набора данных:\n{}".format(data.shape))

Форма исходного набора данных:
(1048573, 19)

### _Describe data_

---

- **Unnamed:** 0: id 

- **ctry_name**: the country name

- **intgrtd_mngmt_name**: management name it belong to

- **intgrtd_operating_team_name**: operating team name

- **city**: city name

- **st**: State name

- **sec_lvl_domn**: Domain name

- **device_type**: Type of device

- **operating_sys**: Type of operating system

- **ip_addr**: Ip of an particular device & this column plays an major role

- **user_agent**: Explain from which browser user hit the url & version type of user agent

- **VISIT**: calculate how many time particular ip_address visited an url

- **ENGD_VISIT**: describe about the engagement about particular ip on url

- **VIEWS**: calculate number of views from particular ip_address on url

- **pageurl**: This feature is clear to understand ,get some pain at your end & visit,engdvisit & views plays an major role.

- **wk**: week

- **mth**:  month

- **yr**: year

- **page_vw_ts**: calculate user particular time,date & time in hours,minute,sec & micro seconds.

## SECTION 2.2 DATA PREPARATION

### _Renaming_

---

In [6]:
# Приведение имен переменных к принятой для анализа форме 
data.columns = [i.replace(' ', '_').lower() for i in data.columns]

# Проверка результата переиминования
data.columns.tolist()

['unnamed:_0',
 'ctry_name',
 'intgrtd_mngmt_name',
 'intgrtd_operating_team_name',
 'city',
 'st',
 'sec_lvl_domn',
 'device_type',
 'operating_sys',
 'ip_addr',
 'user_agent',
 'visit',
 'engd_visit',
 'views',
 'page_url',
 'wk',
 'mth',
 'yr',
 'page_vw_ts']

Для удобства переименуем некоторые переменные

In [7]:
# Перименование переменных 
data = data.rename(columns={'unnamed:_0' : 'id',
 'ctry_name' : 'country',
 'intgrtd_mngmt_name' : 'management',
 'intgrtd_operating_team_name' : 'operating_team',
 'st' : 'state',
 'wk' : 'week',
 'mth' : 'month',
 'yr' : 'year'})

# Проверка результата 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048573 entries, 0 to 1048572
Data columns (total 19 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   id              1048573 non-null  int64
 1   country         1048573 non-null  object
 2   management      1048573 non-null  object
 3   operating_team  1048573 non-null  object
 4   city            1001987 non-null  object
 5   state           1003128 non-null  object
 6   sec_lvl_domn    729116 non-null   object
 7   device_type     206532 non-null   object
 8   operating_sys   1046753 non-null  object
 9   ip_addr         1048573 non-null  object
 10  user_agent      1048567 non-null  object
 11  visit           1048573 non-null  int64
 12  engd_visit      1048573 non-null  int64
 13  views           1048573 non-null  int64
 14  page_url        1048572 non-null  object
 15  week            1048573 non-null  int64
 16  month           1048573 non-null  int64
 17  year            1048573 non-null  int64
 18  page_vw_ts      1045830 non-null  object
dtypes: int64(7), object(12)
memory usage: 152.0+ MB

### _Verify data quality_

---

In [8]:
def verify_data_quality(evaluated_dataset):
    '''
    ФУНКЦИЯ КОМПЛЕКСНОЙ ОЦЕНКИ КАЧЕСТВА ДАННЫХ
    '''
    # Проверка типов данных
    print("Типы данных:\n{}\n".format(evaluated_dataset.dtypes) + '_' * 100+ '\n')
    # Проверка наличия значений NaN
    print("Пропущенные значения:\n{}\n".format(evaluated_dataset.isnull().sum().sum()) + '_' * 100+ '\n')
    # Количество значений, отличных от NaN
    print("Количество значений, отличных от NaN:\n{}\n".format(evaluated_dataset.count().sum()) + '_' * 100+ '\n')
    # Поиск дублирующих строк 
    print("Дублирующих строк:\n{}\n".format(evaluated_dataset.duplicated().sum()) + '_' * 100+ '\n')
    # Форма нарбора данных
    print("Форма нарбора данных:\n{}\n".format(evaluated_dataset.shape) + '_' * 100+ '\n')
    # Тип индекса набора данных
    print("Тип индекса набора данных:\n{}\n".format(evaluated_dataset.index) + '_' * 100+ '\n')

In [9]:
# Оценка качетва данных
verify_data_quality(data)

Типы данных:
id                 int64
country           object
management        object
operating_team    object
city              object
state             object
sec_lvl_domn      object
device_type       object
operating_sys     object
ip_addr           object
user_agent        object
visit              int64
engd_visit         int64
views              int64
page_url          object
week               int64
month              int64
year               int64
page_vw_ts        object
dtype: object
____________________________________________________________________________________________________

Пропущенные значения:
1258099
____________________________________________________________________________________________________

Количество значений, отличных от NaN:
18664788
____________________________________________________________________________________________________

Дублирующих строк:
0
____________________________________________________________________________________________________

Форма нарбора данных:
(1048573, 19)
____________________________________________________________________________________________________

Тип индекса набора данных:
RangeIndex(start=0, stop=1048573, step=1)
____________________________________________________________________________________________________

### _Data type conversions_

---

Классифицируем переменные по типу данных. 
- **id** - __колличественная переменная__
- **country** - категориальная номинальная перемемнная 
- **management** -категориальная номинальная перемемнная 
- **operating_team** - категориальная номинальная перемемнная 
- **city** - категориальная номинальная перемемнная 
- **state** - категориальная номинальная перемемнная 
- **sec_lvl_domn** - категориальная номинальная перемемнная 
- **device_type** - категориальная номинальная перемемнная 
- **operating_sys** - категориальная номинальная перемемнная 
- **ip_addr** - категориальная номинальная перемемнная 
- **user_agent** - категориальная номинальная перемемнная 
- **visit** -  __колличественная переменная__
- **engd_visit** -__колличественная переменная__ 
- **views** - __колличественная переменная__ 
- **page_url** - категориальная номинальная перемемнная 
- **week** - _категориальная порядковая перемемнная_
- **month** - _категориальная порядковая перемемнная_
- **year** - _категориальная порядковая перемемнная_
- **page_vw_ts** - время

In [10]:
# КОНВЕРТАЦИЯ ТИПОВ ДАННЫХ

# Приведение к типу данных category
data[['country',
 'management',
 'operating_team',
 'city',
 'state',
 'sec_lvl_domn',
 'device_type',
 'operating_sys',
 'ip_addr',
 'user_agent',
'page_url']] = data[['country',
                     'management',
                     'operating_team',
                     'city',
                     'state',
                     'sec_lvl_domn',
                     'device_type',
                     'operating_sys',
                     'ip_addr',
                     'user_agent',
                     'page_url']].astype('category')


# Приведение к типу данных datetime
data['page_vw_ts'] =  pd.to_datetime(data['page_vw_ts'])

# Оценка результатов преобразования
data.dtypes

id                         int64
country                 category
management              category
operating_team          category
city                    category
state                   category
sec_lvl_domn            category
device_type             category
operating_sys           category
ip_addr                 category
user_agent              category
visit                      int64
engd_visit                 int64
views                      int64
page_url                category
week                       int64
month                      int64
year                       int64
page_vw_ts        datetime64[ns]
dtype: object

### _Sorting, reordering, reindexing_

---

In [11]:
# Зададим id как индекс 
data =  data.set_index(['id'])

In [12]:
# Оценка результатов переиндексации
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048573 entries, 0 to 1048572
Data columns (total 18 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   country         1048573 non-null  category
 1   management      1048573 non-null  category
 2   operating_team  1048573 non-null  category
 3   city            1001987 non-null  category
 4   state           1003128 non-null  category
 5   sec_lvl_domn    729116 non-null   category
 6   device_type     206532 non-null   category
 7   operating_sys   1046753 non-null  category
 8   ip_addr         1048573 non-null  category
 9   user_agent      1048567 non-null  category
 10  visit           1048573 non-null  int64
 11  engd_visit      1048573 non-null  int64
 12  views           1048573 non-null  int64
 13  page_url        1048572 non-null  category
 14  week            1048573 non-null  int64
 15  month           1048573 non-null  int64
 16  year            1048573 non-null  int64
 17  page_vw_ts      1045830 non-null  datetime64[ns]
dtypes: category(11), datetime64[ns](1), int64(6)
memory usage: 130.9 MB

In [13]:
data.head(2)

,country,management,operating_team,city,state,sec_lvl_domn,device_type,operating_sys,ip_addr,user_agent,visit,engd_visit,views,page_url,week,month,year,page_vw_ts
id,,,,,,,,,,,,,,,,,,
0,United States,United States,North America,SLIDELL,LOUISIANA,CHARTER.COM,MOBILEPHONE,IOS_12.1.4,287e8e9aeedb50e963906f10cca7ca26ae830154e69220...,MOZILLA/5.0 (IPHONE; CPU IPHONE OS 12_1_4 LIKE...,1,0,1,www.ibm.com/watson/campaign,11,3,2019,2019-06-04 05:05:18.023100
1,Japan,Japan,Japan,TOKYO,TOKYO,MOPERA.NET,TABLET,ANDROID_6.0,d7746df5cc2de7f79584d57c2c082b9acc7697602021a1...,MOZILLA/5.0 (LINUX; ANDROID 6.0; D-01J BUILD/H...,1,0,1,www.ibm.com/privacy/us/en,11,3,2019,2019-06-04 05:07:11.014300

In [14]:
# Пересортируем переменные по типу данных 
data = data[['country',
 'management',
 'operating_team',
 'city',
 'state',
 'sec_lvl_domn',
 'device_type',
 'operating_sys',
 'ip_addr',
 'page_url',
 'user_agent',
 'visit',
 'engd_visit',
 'views',
 'week',
 'month',
 'year',
 'page_vw_ts']]

# Оценка результатов пересортировки 
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048573 entries, 0 to 1048572
Data columns (total 18 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   country         1048573 non-null  category
 1   management      1048573 non-null  category
 2   operating_team  1048573 non-null  category
 3   city            1001987 non-null  category
 4   state           1003128 non-null  category
 5   sec_lvl_domn    729116 non-null   category
 6   device_type     206532 non-null   category
 7   operating_sys   1046753 non-null  category
 8   ip_addr         1048573 non-null  category
 9   page_url        1048572 non-null  category
 10  user_agent      1048567 non-null  category
 11  visit           1048573 non-null  int64
 12  engd_visit      1048573 non-null  int64
 13  views           1048573 non-null  int64
 14  week            1048573 non-null  int64
 15  month           1048573 non-null  int64
 16  year            1048573 non-null  int64
 17  page_vw_ts      1045830 non-null  datetime64[ns]
dtypes: category(11), datetime64[ns](1), int64(6)
memory usage: 130.9 MB

### _Conclusions_

---

In [15]:
# Оценка качетва данных после всех преобразований
verify_data_quality(data)

Типы данных:
country                 category
management              category
operating_team          category
city                    category
state                   category
sec_lvl_domn            category
device_type             category
operating_sys           category
ip_addr                 category
page_url                category
user_agent              category
visit                      int64
engd_visit                 int64
views                      int64
week                       int64
month                      int64
year                       int64
page_vw_ts        datetime64[ns]
dtype: object
____________________________________________________________________________________________________

Пропущенные значения:
1258099
____________________________________________________________________________________________________

Количество значений, отличных от NaN:
17616215
____________________________________________________________________________________________________

Дублирующих строк:
0
____________________________________________________________________________________________________

Форма нарбора данных:
(1048573, 18)
____________________________________________________________________________________________________

Тип индекса набора данных:
Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            1048563, 1048564, 1048565, 1048566, 1048567, 1048568, 1048569,
            1048570, 1048571, 1048572],
           dtype='int64', name='id', length=1048573)
____________________________________________________________________________________________________

В результате предварительной подготовки данных выполнены следующие действия 
- Названия переменных приведены к принятому в анализе виду
- Часть переменных была переименована для большей наглядности и удобства 
- Выполнена предварительная оценка качества данных. Установлено, что имеется значительное количество пропущенных значений. 
- Выполнена классификация типов данных переменных и произведена их конвертация к надлежащему типу данных
- Выполнена переиндексация набора по признаку id  и сортировка по типу переменных

In [16]:
# Сохраниение промежуточны результатов дальнейшего анализа 
pd.DataFrame.to_feather(data.reset_index(), 'bot_detection_pre_prepared.file')