#### Project Type: Data Wrangling
### Project Number: 2
## Project Title: Coursera Course Dataset

---

Источник данных: https://www.kaggle.com/siddharthm1698/coursera-course-dataset


# **STAGE 1. PROBLEM DEFINITION**


### Project Objectives

---

- Тренировка навыка подготовки данных для дальнейшего анализа 
- Развлечение и отдых

### Success criteria

---

- Данные более высокого качества, чем в началале

### Task type

---

Data Wrangling

    
# **STAGE 2. PRELIMINARY DATA WRANGLING**

### Import Libraries

---

In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# Data Visualizations
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Import Data

---

In [2]:
data_path = 'D:/Data_Science_Project/1. Data Wrangling/Project 2 - Coursera Course Dataset/coursea_data.csv'

## SECTION 2.1.  DATA UNDERSTANDING

### _Collect initial data_

---

In [3]:
# Загрузим набор данных для первичного визуального анализа 
df = data = pd.read_csv(data_path)
data.head()

,Unnamed: 0,course_title,course_organization,course_Certificate_type,course_rating,course_difficulty,course_students_enrolled
0,134,(ISC)² Systems Security Certified Practitioner...,(ISC)²,SPECIALIZATION,4.7,Beginner,5.3k
1,743,A Crash Course in Causality: Inferring Causal...,University of Pennsylvania,COURSE,4.7,Intermediate,17k
2,874,A Crash Course in Data Science,Johns Hopkins University,COURSE,4.5,Mixed,130k
3,413,A Law Student's Toolkit,Yale University,COURSE,4.7,Mixed,91k
4,635,A Life of Happiness and Fulfillment,Indian School of Business,COURSE,4.8,Mixed,320k

In [4]:
data.tail()

,Unnamed: 0,course_title,course_organization,course_Certificate_type,course_rating,course_difficulty,course_students_enrolled
886,236,Программирование на Python,Mail.Ru Group,SPECIALIZATION,4.5,Intermediate,52k
887,883,Психолингвистика (Psycholinguistics),Saint Petersburg State University,COURSE,4.8,Mixed,21k
888,545,Разработка интерфейсов: вёрстка и JavaScript,E-Learning Development Fund,SPECIALIZATION,4.5,Intermediate,30k
889,875,Русский как иностранный,Saint Petersburg State University,SPECIALIZATION,4.6,Intermediate,9.8k
890,163,Финансовые инструменты для частного инвестора,National Research University Higher School of ...,SPECIALIZATION,4.7,Beginner,38k

In [5]:
# Форма исходного набора данных
print("Форма исходного набора данных:\n{}".format(data.shape))

Форма исходного набора данных:
(891, 7)

In [6]:
# Список столбцов
data.columns.tolist()

['Unnamed: 0',
 'course_title',
 'course_organization',
 'course_Certificate_type',
 'course_rating',
 'course_difficulty',
 'course_students_enrolled']

In [7]:
# Общая информация о наборе данных 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                891 non-null    int64
 1   course_title              891 non-null    object
 2   course_organization       891 non-null    object
 3   course_Certificate_type   891 non-null    object
 4   course_rating             891 non-null    float64
 5   course_difficulty         891 non-null    object
 6   course_students_enrolled  891 non-null    object
dtypes: float64(1), int64(1), object(5)
memory usage: 48.9+ KB

### _Describe data_

---

- Unnamed: 0 - ID
- course_title - Название курса 
- course_organization - Организация разработчик 
- course_Certificate_type - Тип сертификата 
- course_rating - Рейтинг курса 
- course_difficulty - Сложность курса 
- course_students_enrolled - Колличество обучишихся студентов

## SECTION 2.2 DATA PREPARATION

### _Verify data quality_

---

In [8]:
# Функция коплексной оценки качества данных 
def verify_data_quality (evaluated_dataset):
    # Проверка типов данных
    print("Типы данных:\n{}\n".format(evaluated_dataset.dtypes))
    # Проверка наличия значений NaN
    print("Пропущенные значения:\n{}\n".format(evaluated_dataset.isnull().sum().sum()))
    # Количество значений, отличных от NaN
    print("Количество значений, отличных от NaN:\n{}\n".format(evaluated_dataset.count().sum()))
    # Поиск дублирующих строк 
    print("Дублирующих строк:\n{}\n".format(evaluated_dataset.duplicated().sum()))
    # Форма нарбора данных
    print("Форма нарбора данных:\n{}\n".format(evaluated_dataset.shape))
    # Тип индекса набора данных
    print("Тип индекса набора данных:\n{}\n".format(evaluated_dataset.index))

In [9]:
# Оценка качетва данных
verify_data_quality(data)

Типы данных:
Unnamed: 0                    int64
course_title                 object
course_organization          object
course_Certificate_type      object
course_rating               float64
course_difficulty            object
course_students_enrolled     object
dtype: object

Пропущенные значения:
0

Количество значений, отличных от NaN:
6237

Дублирующих строк:
0

Форма нарбора данных:
(891, 7)

Тип индекса набора данных:
RangeIndex(start=0, stop=891, step=1)

### _Renaming_

---

In [10]:
# Переимнование первой колонки 
data = data.rename(columns={'Unnamed: 0': 'id'})


# Приведение имен переменных к принятой для анализа форме 
data.columns = [i.replace(' ', '_').lower() for i in data.columns]

# Проверка результата 
data.head()

,id,course_title,course_organization,course_certificate_type,course_rating,course_difficulty,course_students_enrolled
0,134,(ISC)² Systems Security Certified Practitioner...,(ISC)²,SPECIALIZATION,4.7,Beginner,5.3k
1,743,A Crash Course in Causality: Inferring Causal...,University of Pennsylvania,COURSE,4.7,Intermediate,17k
2,874,A Crash Course in Data Science,Johns Hopkins University,COURSE,4.5,Mixed,130k
3,413,A Law Student's Toolkit,Yale University,COURSE,4.7,Mixed,91k
4,635,A Life of Happiness and Fulfillment,Indian School of Business,COURSE,4.8,Mixed,320k

### _Data type conversions_

---

Выполним анализ типов переменных

In [11]:
# Список столбцов
data.columns.tolist()

['id',
 'course_title',
 'course_organization',
 'course_certificate_type',
 'course_rating',
 'course_difficulty',
 'course_students_enrolled']

In [12]:
# Общее колличество уникальных значений в наборе 

# data.apply(lambda x: len(x.unique())) # Способ 1

data.agg(['nunique']).T # Способ 2

                          nunique
id                            891
course_title                  888
course_organization           154
course_certificate_type         3
course_rating                  14
course_difficulty               4
course_students_enrolled      205

#### course_certificate_type

In [13]:
# Вывод уникальных значений переменной 
print("Уникальные значения переменной:\n{}\n".format(data['course_certificate_type'].sort_values().unique()))
print("Колличество уникальных значений переменной:\n{}".format(data['course_certificate_type'].value_counts().unique()))

Уникальные значения переменной:
['COURSE' 'PROFESSIONAL CERTIFICATE' 'SPECIALIZATION']

Колличество уникальных значений переменной:
[582 297  12]

#### course_rating

In [14]:
# Вывод уникальных значений переменной 
print("Уникальные значения переменной:\n{}\n".format(data['course_rating'].sort_values().unique()))
print("Колличество уникальных значений переменной:\n{}".format(data['course_rating'].value_counts().unique()))

Уникальные значения переменной:
[3.3 3.7 3.9 4.  4.1 4.2 4.3 4.4 4.5 4.6 4.7 4.8 4.9 5. ]

Колличество уникальных значений переменной:
[256 251 168  80  68  34  15  10   2   1]

#### course_difficulty

In [15]:
print("Уникальные значения переменной:\n{}\n".format(data['course_difficulty'].sort_values().unique()))
print("Колличество уникальных значений переменной:\n{}".format(data['course_difficulty'].value_counts().unique()))

Уникальные значения переменной:
['Advanced' 'Beginner' 'Intermediate' 'Mixed']

Колличество уникальных значений переменной:
[487 198 187  19]

- id - **категориальная** порядковая 
- course_title - **категориальная** номинальная 
- course_organization - **категориальная** номинальная 
- course_certificate_type - **категориальная** номинальная 
- course_rating  - колличественная интервальная 
- course_difficulty  - **категориальная** номинальная 
- course_students_enrolled - колличественная переменная

Сгруппируем в отдельные наборы категориальные и количественные переменные

In [16]:
# Колличественные переменные и id
data_num = data[['id','course_rating','course_students_enrolled']]
data_num.head()

    id  course_rating course_students_enrolled
0  134            4.7                     5.3k
1  743            4.7                      17k
2  874            4.5                     130k
3  413            4.7                      91k
4  635            4.8                     320k

In [17]:
# Анализ типов переменных
data_num.dtypes

id                            int64
course_rating               float64
course_students_enrolled     object
dtype: object

In [18]:
# Замена обозначения k на 1000
data_num['course_students_enrolled'] = data_num.loc[:,'course_students_enrolled'].replace({'k': '*1e3', 'm': '*1e6'}, regex=True).map(pd.eval).astype('int64')

<ipython-input-18-b5d1695cedb7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_num['course_students_enrolled'] = data_num.loc[:,'course_students_enrolled'].replace({'k': '*1e3', 'm': '*1e6'}, regex=True).map(pd.eval).astype('int64')

In [19]:
# Проверка результата 
data_num.head()

    id  course_rating  course_students_enrolled
0  134            4.7                      5300
1  743            4.7                     17000
2  874            4.5                    130000
3  413            4.7                     91000
4  635            4.8                    320000

In [20]:
# Анализ типов переменных
data_num.dtypes

id                            int64
course_rating               float64
course_students_enrolled      int64
dtype: object

In [21]:
# Категориальные пермеременные за исключением id 
data_cat = data[['course_title','course_organization','course_certificate_type','course_difficulty']]
data_cat.head()

,course_title,course_organization,course_certificate_type,course_difficulty
0,(ISC)² Systems Security Certified Practitioner...,(ISC)²,SPECIALIZATION,Beginner
1,A Crash Course in Causality: Inferring Causal...,University of Pennsylvania,COURSE,Intermediate
2,A Crash Course in Data Science,Johns Hopkins University,COURSE,Mixed
3,A Law Student's Toolkit,Yale University,COURSE,Mixed
4,A Life of Happiness and Fulfillment,Indian School of Business,COURSE,Mixed

In [22]:
# Анализ типов переменных
data_cat.dtypes

course_title               object
course_organization        object
course_certificate_type    object
course_difficulty          object
dtype: object

In [23]:
# Приведение к типу данных category
data_cat = data_cat.astype('category')

In [24]:
# Проверка результата 
data_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   course_title             891 non-null    category
 1   course_organization      891 non-null    category
 2   course_certificate_type  891 non-null    category
 3   course_difficulty        891 non-null    category
dtypes: category(4)
memory usage: 58.8 KB

### _Sorting, reordering, reindexing_

---

In [25]:
# Объеденим категориальный и колличественный наборы
data =  pd.concat([data_num, data_cat], axis=1)

# Переупорядочим переменные к первоначальному виду
data = data[['id',
 'course_title',
 'course_organization',
 'course_certificate_type',
 'course_rating',
 'course_difficulty',
 'course_students_enrolled']]

# Установим id как индекс 
data = data.set_index(['id'])

# Упорядочем данные по номеру id
data = data.sort_index()

# Проверим результат 
data.head()

,course_title,course_organization,course_certificate_type,course_rating,course_difficulty,course_students_enrolled
id,,,,,,
0,IBM Data Science,IBM,PROFESSIONAL CERTIFICATE,4.6,Beginner,480000
1,Introduction to Data Science,IBM,SPECIALIZATION,4.6,Beginner,310000
2,The Science of Well-Being,Yale University,COURSE,4.9,Mixed,2500000
3,Python for Everybody,University of Michigan,SPECIALIZATION,4.8,Beginner,1500000
4,Google IT Support,Google,PROFESSIONAL CERTIFICATE,4.8,Beginner,350000

In [26]:
# Сохраниение результатов 
data.to_csv('wrangling_coursea_data.csv', sep=',', index=True, encoding='utf-8')

### _Conclusions_

---

Целью данного проекта являлась первичная оценка качества данных и их подготовка, и переформатирование для дальнейшего анализа. 
В проекте выполнено: 
- первичный анализ и оценка качества данных
- установлено, что пропущенных и дублирующих значений нет
- названия переменных приведены к принятому виду
- переменная Unnamed: 0 переименована в id 
- выполнен анализ переменных по типу 
- категориальные переменные закодированы как category 
- количественные переведены в цифровые значения и имеют советующие типы данных
- результаты проекта сохранены в отдельный файл wrangling_coursea_data